/* Footer Container */
.footer {
  background-color: #1a1a1a;
  color: #fff;
  padding: 20px 0;
  font-family: Arial, sans-serif;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  padding: 0 50px;
}

.footer-section {
  width: 30%;
}

.footer-section h3, .footer-section h4 {
  color: #4ccb54;
  margin-bottom: 10px;
}

.footer-section p {
  line-height: 1.6;
  color: #ccc;
}

.footer-section a {
  color: #ccc;
  text-decoration: none;
}

.footer-section a:hover {
  text-decoration: underline;
}

.social-icons a {
  color: #fff;
  font-size: 20px;
  margin-right: 15px;
  text-decoration: none;
}

.social-icons a:hover {
  color: #ccc;
}

.footer-bottom {
  text-align: center;
  border-top: 1px solid #333;
  margin-top: 20px;
  padding-top: 10px;
}

.footer-bottom p {
  margin: 0;
  color: #ccc;
}

.footer-links a {
  color: #ccc;
  margin-left: 10px;
  text-decoration: none;
}

.footer-links a:hover {
  color: #fff;
}



/* Benefits.css */
.benefits-container {
  background-color: #00bfa5;
  padding: 20px;
  border-radius: 5px;
  color: white;
  text-align: center;
}

.benefits-heading {
  margin-bottom: 20px;
}

.benefits-list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.benefit-item {
  width: 30%;
  text-align: left;
  background-color: white;
  color: #333;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.benefit-title {
  margin-bottom: 10px;
}

.benefit-description {
  font-size: 14px;
}
